body {
  background-color: antiquewhite;
  margin: 0;
  padding: 0;
}
h1 {
  color: rgb(226, 141, 43);
  font-size: 55px;
}
.navbar {
  background-color: brown;
}
#nav_id {
  color: blueviolet;
}
